#Minecraft server properties
#Sun Jun 25 03:48:15 UTC 2017
# 是否验证 Mincecraft 登录
online-mode=false
# 生存模式
gamemode=0
# 难度
difficulty=2
# 欢迎消息
motd=A Minecraft Server of ZZX
spawn-protection=16
resource-pack-hash=
announce-player-achievements=true
pvp=true
snooper-enabled=false
level-type=LARGEBIOMES
spawn-npcs=true
allow-flight=false
max-tick-time=60000
generator-settings=
force-gamemode=false
allow-nether=true
enable-query=false
player-idle-timeout=0
spawn-monsters=true
op-permission-level=4
hardcore=false
enable-command-block=false
max-players=20
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port=25565
server-ip=
level-name=world
view-distance=10
resource-pack=
spawn-animals=true
white-list=false
generate-structures=true
max-build-height=256
level-seed=
use-native-transport=true
prevent-proxy-connections=false
enable-rcon=false
